NEXT_PUBLIC_SITE_URL=https://www.waadimedia.com
NEXT_PUBLIC_GA_ID=G-FRL8C83R8C
NEXT_PUBLIC_CAL_LINK=shykh-furkan-cdiycf/30min
SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=contact@waadimedia.com
SMTP_PASS=Anantnag@12
CONTACT_TO_EMAIL=contact@waadimedia.com
CONTACT_FROM_EMAIL=Waadi Media <contact@waadimedia.com>
GOOGLE_SITE_VERIFICATION=1Fatb0r-aLsTSMMwmoorkk6FqjUuRxPZZUapOxNg7EM
